.container {
    max-width: 40rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

input,
textarea {
    padding: 0.5rem;
    font: inherit;
}

button {
    width: fit-content;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
